

.c1{
  height: 10rem;
  width: 50rem;
  margin: auto;
  background-color: whitesmoke;

 
  
}

.cz{
  
    background-color: rgb(214, 22, 22);
  
}
.c2{
  padding-left: 3.3rem;
}
.f1{
  background-color: aqua;
}
.b1{
  margin-left: 21rem;
}
.l1{
  height: 5rem;
  resize: none;
  margin-left: 2.4rem;
  width: 15rem;
}
.d1{
  padding-left: 3.3rem;
}
#w{
  margin-left: 3.3rem;
}
#p{
  margin-left: 2rem;
}
#o{
  margin-left: 4.1rem;
}
#i{
  margin-left: 4.2rem;
}